<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/clr-ui.min.css"/>
    <link rel="stylesheet" href="/gh-fork-ribbon.min.css"/>
    <script src="/axios.min.js"></script>
    <script src="/app.js"></script>
    <link href="/custom.css" rel="stylesheet">
    <title>DALL-E Cool</title>
</head>

<body onload="init()">
<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a class="nav-link">
                <img src="/logo.png" height="50%" width="50%">
                <span class="title"> &nbsp;&nbsp; AI Laboratory</span>
                <span id="loading"><img src="/loading.gif" width="25" height="25"/></span>
            </a>
        </div>
        <div class="header-actions">
            <div id="powered-by">Powered by<img width="145" height="38" src="/tap.png"
                                                alt="VMware Tanzu Application Platform"/></div>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <form onsubmit="return false;">
                <textarea placeholder="Enter a shopping cart item" name="completionPrompt" id="completionPrompt" rows="5" cols="60" required></textarea>
                <input type="button" value="Go!" id="completionButton" onclick="return generateCompletion();"/>
            </form>
            <p></p><p></p>
            <textarea id="completion" name="completion" rows="8" cols="60">
            </textarea>
        </div>
    </div>
</div>

</body>
</html>
